# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-case-conflict
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml

  - repo: local
    hooks:
      - id: oponn-lint
        name: oponn-lint
        entry: poetry run python manage.py lint
        language: system
        types_or: [ python, html ]

      - id: basedpyright
        name: basedpyright
        entry: poetry run basedpyright
        language: system
        types: [ python ]
        pass_filenames: false
