services:
  db:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_DB: oponn_db
      POSTGRES_USER: oponn_user
      POSTGRES_PASSWORD: oponn_password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - "6379:6379"

  localstack:
    image: localstack/localstack:latest
    ports:
      - "4566:4566"
    environment:
      - SERVICES=kms
      - DEBUG=1
      - DOCKER_HOST=unix:///var/run/docker.sock
      - PERSISTENCE=1
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - localstack_data:/var/lib/localstack

volumes:
  postgres_data:
  localstack_data: